<div class="intro">
  <img src="<%= asset_path('first_background.png') %>" id="banner">
  <h1 id="name">ABIEL GUTIERREZ</h1>
  <img src="<%= asset_path('display_pic.png') %>" id="display_pic" class="img-thumbnail">
  <div class="bio-wrapper">
    <p>Stanford CS major from Monterrey, Mexico. CODE2040 Alumnus. Interested in iOS Dev, front end design, startups & photograpy.</p>
  </div>
</div>
<div class="info_section_1">
  <div class="projects">
    <h1 class="header">PROJECTS</h1>
    <div class="project-wrapper">
      <div id="football-master" class="project-block">
        <h3 class="project-header" id="fm">Football Master</h3>
        <div class="project-image"></div>
        <p>iOS app written in Objective-C with iAd Network,
            Game Center, and In-App Purchases.</p>
        <button type="button" class="view-button">VIEW</button>
      </div>
      <div id="transaction-faker" class="project-block">
        <h3 class="project-header">transaction_faker</h3>
        <div class="project-image"></div>
        <p>iOS app written in Objective-C with iAd Network,
            Game Center, and In-App Purchases.</p>
        <button type="button" class="view-button">VIEW</button>
      </div>
    </div>
    <div class="project-wrapper">
      <div id="this-website" class="project-block">
        <h3 class="project-header">This Website</h3>
        <div class="project-image"></div>
        <p>iOS app written in Objective-C with iAd Network,
            Game Center, and In-App Purchases.</p>
        <button type="button" class="view-button">VIEW</button>
      </div>
      <div id="academic-projects" class="project-block">
        <h3 class="project-header">More on GitHub</h3>
        <div class="project-image"></div>
        <p>iOS app written in Objective-C with iAd Network,
            Game Center, and In-App Purchases.</p>
        <button type="button" class="view-button">VIEW</button>
      </div>
    </div>
  </div>
</div>
<div class="info_section_2">
  <div id="skills">
    <h1 class="header">SKILLS</h1>
  </div>
</div>